body{
    background-color: 191825;
    margin-left: 20px;
    margin-right: 20px;
    
}

div{
   
    padding-bottom: 5px;
    padding-left: 10px;
    margin-bottom: 10px;
    color:#BEFFF7; 
    
}


#contact{
    background-color: #164863;
    border: 5px solid #427D9D;
    border-radius: 10px;
}

#education{
    background-color: #427D9D;
    border: 5px solid #164863;
    border-radius: 10px;
}

#experience{
    background-color: #164863;
    border: 5px solid #427D9D;
    border-radius: 10px;
}

#skills
{
    background-color: #427D9D;
    border: 5px solid #164863;
    border-radius: 10px;
}

#certifications{
    background-color: #164863;
    border: 5px solid #427D9D;
    border-radius: 10px;
}

#projects{
    background-color: #427D9D;
    border: 5px solid #164863;
    border-radius: 10px; 
}

#intrests{
    background-color: #164863;
    border: 5px solid #427D9D;
    border-radius: 10px;
}

#languages{
    background-color: #427D9D;
    border: 5px solid #164863;
    border-radius: 10px;  
}

#intro{
    text-align: CENTER;
}

#footer{
    text-align: CENTER;
}

h3{
    color: #A6FF96; 
    text-transform: uppercase;
}

#intro,#footer{
    color: C2DEDC;
}

h1{
    font-family: Rubik Doodle Shadow;
    text-transform: uppercase;
}

#sub{
    text-decoration: underline;
}