body{
    background-color: 7ED7C1;
    margin-left: 20px;
    margin-right: 20px; 
}

div{
    padding-bottom: 5px;
    padding-left: 10px;
    margin-bottom: 10px;  
}


#contact,#education,#experience,#skills,#certifications,#projects,#intrests,#languages{
    background-color: #A0D8B3;
    border: 5px solid #00DFA2;
    border-radius: 10px;
}

#intro,#footer{
    text-align: CENTER;
    color: #146C94; 
}

h3{
    color: #146C94; 
    text-transform: uppercase;
}

h1{
    text-transform: uppercase;
}

#sub{
    font-family: Rubik Doodle Shadow;
}

