body{
    background-color: 7ED7C1;
    margin-left: 20px;
    margin-right: 20px; 
}

div{
    padding-bottom: 5px;
    padding-left: 10px;
    margin-bottom: 10px;  
}


#contact,#education,#experience,#skills,#certifications,#projects,#intrests,#languages{
    background-color: #F0DBAF;
    border: 5px solid #DC8686;
    border-radius: 10px;
}

#intro,#footer{
    text-align: CENTER;
    color: #B06161; 
}


h3{
    color: #B06161; 
    text-transform: uppercase;
}

h1{
    font-family: Rubik Doodle Shadow;
    text-transform: uppercase;
}

